<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
<table>
<% @pages.each do |page| %>
  <ul>
    <li><%= link_to page.title, page %></li>
  </ul>
<% end %>
</table>

<br />


