

<div class="page-header">
	<div class="row fluid">
		<div class="span9">
  		<h1><%= @page.title %> </h1>
  	</div>
  	<div class="span2 pull-right">
  		<%= link_to 'Edit', edit_page_path(@page), class: "btn" %>
  	</div>
  </div>
</div>


<p>
<% rndr = Redcarpet::Render::HTML.new( :with_toc_data => true) %>
<% markdownReader = Redcarpet::Markdown.new(rndr,
        :autolink => true,:lax_spacing => true, :fenced_code_blocks => true) %>
<% tocrndr = Redcarpet::Render::HTML_TOC %>      
<% tocReader = Redcarpet::Markdown.new(tocrndr,
        :autolink => true,:lax_spacing => true, :fenced_code_blocks => true) %>
<p>
  <%= raw tocReader.render(@page.content) %>
  <%= raw markdownReader.render(@page.content) %>
</p>
</p>

